# Core functionality - changes here should be rare!
/src/app.py                   @yelinkyaw
/src/backend/database.py      @yelinkyaw
/src/backend/routers/auth.py  @yelinkyaw

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yelinkyaw
